.pc-1 {
    background-image: url(../img/thinkpad\ \(1\).png);
    padding-bottom: 4em;
    padding-left: 2em;
    padding-top: 2em;
}
.pc-1 h2 {
    font-family: "Kode Mono", monospace;
    color:aqua;
    padding-top: 1.5em;
    padding-left: 2em;

}
.pc-1 p {
    font-family: "Kode Mono", monospace;
    width: 90%;
    line-height: 1,4em;
    font-size: 1.3em;
    color:rgb(255, 255, 255);
    padding-top: 1em;
    padding-left: 2em;
    font-weight: bold;
}

.album:hover {
    transform: scale(1.2);
    transition: transform .4s;
}